---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'

import { getLangFromUrl, useTranslations } from '../i18n/utils'
import { languages } from '../i18n/ui'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<header>
  <nav>
    <h2>
      <a href='/'>
        <!-- {SITE_TITLE} -->
        <svg xmlns='http://www.w3.org/2000/svg' width='131' height='56' viewBox='0 0 131 56' fill='none'
          ><path
            d='M22.1015 14.6905L22.7848 17.1433L23.1768 20.5556H22.9528V20.7535L22.7288 23.3668L22.0194 25.2559L20.6269 27.6976L18.9319 29.2992L17.0279 30.3744L15.1761 30.6768L14.4556 30.7552H7.6496V29.1013H6.24585V10.3971H7.6496V8.74316H14.4481L16.3633 8.9933L18.2674 9.78105L19.7122 10.9235L21.0898 12.6558L22.1015 14.6905ZM19.2268 22.1087L19.3575 20.8767V19.6969L19.238 18.3305L18.7527 16.3107L18.0695 15.0115L17.1361 13.8691L16.4156 13.2904L15.4449 12.8424L14.2502 12.6968H9.82617V28.1829L10.9163 26.712H14.7766L15.038 26.6858L15.8108 26.4245L16.9532 25.7301L18.0172 24.7967L19.014 23.3258L19.2268 22.1087Z'
            fill='black'></path><path
            d='M31.7748 14.6533L33.1001 14.784L34.4778 15.2693L33.4548 19.9025L32.6297 19.0475L31.6964 18.8123L30.8302 18.8907L29.6356 19.5851L29.1876 20.2161L28.2803 19.2715V30.7181H24.6963V15.2805H28.2803V16.3296L30.0276 14.9371L31.7748 14.6533Z'
            fill='black'></path><path
            d='M67.2905 16.6359L68.433 18.6296L68.642 21.228V30.7033H65.1364V20.9256L64.9124 19.9923L64.386 19.1261L63.5609 18.4056L62.5641 18.1704L61.3843 18.2898L60.5032 18.8946L59.8462 19.6563L58.8755 18.6594V30.7071H55.3586V15.2695H58.8755V16.6994L59.1256 16.3858L60.4771 15.0605L63.0756 14.7842L65.4388 15.3479L67.2905 16.6359Z'
            fill='black'></path><path
            d='M80.2043 26.5293L80.8726 25.9245L81.7387 24.8754L84.2326 27.1603L83.3777 28.1981L82.4182 29.1576L80.671 30.3896L78.3488 30.8638H76.6277L76.2619 30.8377L73.9658 29.9566L72.2186 28.6051L71.0762 26.1523L70.5125 24.1698L70.5274 22.0045L71.1061 19.9586L72.129 18.0284L74.201 16.1654L76.6165 15.3665L78.4534 15.3516L80.671 16.1654L82.4817 17.5319L83.7025 19.4098L84.2924 21.1943L84.5425 22.8594L83.3889 23.0834L83.4673 24.1474L74.201 24.685L74.3056 25.2376L75.0149 26.4173L75.7877 26.9699L76.9824 27.4291L77.9792 27.444L79.2 27.2088L80.2043 26.5293ZM76.0565 19.1671L74.9552 20.0743L74.2869 21.3623L74.1562 23.2775L75.2837 22.0045L80.5478 21.6647L80.4955 21.2578L79.8907 19.8391L78.92 19.182L77.8448 18.79H77.2288L76.0565 19.1671Z'
            fill='black'></path><path
            d='M103.411 29.6134L100.066 31.0059L97.6503 24.1029H90.9452L88.5819 31.0059L85.2368 29.6134L92.3489 8.48242L94.3164 9.28137L96.31 8.49362L103.411 29.6134ZM94.3127 13.1566L91.4641 21.5418L92.7633 20.6085H96.5714L94.3127 13.1566Z'
            fill='black'></path><path
            d='M108.649 12.3537L107.283 14.0188H105.326L104.001 12.3238V10.0054L105.326 8.39258H107.283L108.649 10.0054V12.3537ZM108.044 30.875H104.539V15.4412H108.044V30.875Z'
            fill='black'></path><path
            d='M120.514 16.8185V9.10156H124.045V30.7851H120.514V29.1312L118.886 30.4453L116.47 30.8784L114.122 30.0795L112.192 28.5712L110.93 26.5253L110.142 24.2554L110.247 22.6015L110.534 21.026L111.662 18.1924L113.133 16.5907L115.862 15.3587H118.408L120.514 16.8185ZM119.382 26.2677L119.737 25.8346L120.51 26.9098V19.5326L119.748 20.5705L119.472 20.2047L118.632 19.6671L117.661 19.234H116.665L115.313 19.9023L114.619 20.5967L113.935 21.9892L113.711 23.001V24.1546L114.025 25.297L114.88 26.1519L115.772 26.7829L116.769 26.9397L117.635 26.9546L118.528 26.641L119.382 26.2677Z'
            fill='black'></path><path
            d='M50.9045 43.1981L52.928 44.6466L52.088 46.0952L51.0576 47.0248L49.2245 47.5624L47.3727 47.4355L46.0436 47.0248L44.7668 45.9309L43.8559 44.5533L43.4377 43.0301V41.4061L43.8559 40.0098L44.6026 38.55L45.5882 37.6279L47.0181 36.9185L48.769 36.7617L50.2474 37.0716L51.4123 37.654L52.368 38.6919L52.9131 39.6215L50.8971 41.1335L50.4864 40.3682L49.9562 39.894L49.4186 39.6402L48.6272 39.4834L47.7237 39.5655L47.0218 39.9015L46.5738 40.2562L46.1445 40.8012L45.8906 41.6413L45.8532 42.6455L46.1557 43.6648L46.5925 44.0568L47.2869 44.5757L47.8506 44.74L48.952 44.8221L49.8442 44.557L50.2288 44.2845L50.9045 43.1981Z'
            fill='black'></path><path
            d='M62.224 37.9455L63.2358 39.4874L63.8368 41.5295L63.7174 42.9333L63.2358 44.5722L62.3622 45.9013L60.8128 47.0512L58.7706 47.4357L56.9376 47.1632L55.5077 46.3157L54.3242 44.7477L53.7866 42.9445L53.6484 41.9701L53.921 40.2751L54.7759 38.6063L56.3626 37.1577L58.4421 36.6836H59.2709L60.6 37.0383L62.224 37.9455ZM60.9845 43.3253L61.2757 42.377L61.3504 42.1567L60.9845 40.7605L60.5029 40.0511L59.648 39.5583L58.9461 39.3754H58.7184L57.561 39.6479L56.7322 40.3946L56.2842 41.2495L56.1274 42.3621L56.2095 42.3359L56.5269 43.4037L57.1914 44.2437L57.8037 44.617L58.7072 44.7552L59.7824 44.5349L60.5664 43.9525L60.9845 43.3253Z'
            fill='black'></path><path d='M67.5816 47.5066H65.1475V32.4424H67.5816V47.5066Z' fill='black'></path><path
            d='M71.8563 47.5066H69.4221V32.4424H71.8563V47.5066Z'
            fill='black'></path><path
            d='M79.9167 44.5534L80.3834 44.1352L80.9845 43.4072L82.7167 44.9939L82.1231 45.7144L81.4586 46.379L80.2452 47.2339L78.6324 47.5625H77.4377L77.1839 47.5438L75.5897 46.9315L74.3764 45.9944L73.5849 44.2883L73.1929 42.9107L73.2003 41.4061L73.5998 39.9837L74.3092 38.6434L75.7502 37.3479L77.4265 36.7916L78.7034 36.7842L80.2452 37.3479L81.5034 38.2962L82.3509 39.5992L82.7615 40.8386L82.9333 41.996L82.1306 42.1528L82.1866 42.892L75.7502 43.2653L75.8249 43.6499L76.3177 44.4712L76.8553 44.8558L77.6841 45.1731L78.3785 45.1806L79.226 45.0163L79.9167 44.5534ZM77.0345 39.4424L76.2692 40.0696L75.8025 40.9618L75.7129 42.2909L76.4969 41.4061L80.1519 41.1709L80.1146 40.8872L79.6964 39.9016L79.0207 39.4461L78.274 39.1735H77.8447L77.0345 39.4424Z'
            fill='black'></path><path
            d='M91.3183 43.1981L93.3418 44.6466L92.5018 46.0952L91.4714 47.0248L89.6383 47.5624L87.7866 47.4355L86.4575 47.0248L85.1806 45.9309L84.2697 44.5533L83.8516 43.0301V41.4061L84.2697 40.0098L85.0164 38.55L86.002 37.6279L87.4319 36.9185L89.1828 36.7617L90.6613 37.0716L91.8261 37.654L92.7818 38.6919L93.3269 39.6215L91.3109 41.1335L90.9002 40.3682L90.3701 39.894L89.8325 39.6402L89.041 39.4834L88.1375 39.5655L87.4356 39.9015L86.9876 40.2562L86.5583 40.8012L86.3044 41.6413L86.2671 42.6455L86.5695 43.6648L87.0063 44.0568L87.7007 44.5757L88.2644 44.74L89.3658 44.8221L90.2581 44.557L90.6426 44.2845L91.3183 43.1981Z'
            fill='black'></path><path
            d='M98.1991 44.8185L99.2743 44.5721L99.7484 47.234L98.453 47.5514L97.542 47.5588L96.3585 46.7748L95.7463 45.6996L95.5745 44.5983V39.6142H94.0886V36.8627H95.5745V34.6562H98.0087V36.8627H99.502V39.6142H98.0087V44.3556L98.0647 44.7028L98.102 44.7588L98.1991 44.8185Z'
            fill='black'></path><path
            d='M104.016 34.7124L103.067 35.8698H101.709L100.786 34.6938V33.081L101.709 31.9609H103.067L104.016 33.081V34.7124ZM103.594 47.574H101.16V36.8517H103.594V47.574Z'
            fill='black'></path><path
            d='M111.945 36.6797L114.271 37.6018L111.001 47.611L109.534 47.066L108.066 47.611L104.796 37.6018L107.122 36.6797L109.537 44.7102L111.945 36.6797Z'
            fill='black'></path><path
            d='M121.413 44.5534L121.88 44.1352L122.481 43.4072L124.213 44.9939L123.62 45.7144L122.955 46.379L121.742 47.2339L120.129 47.5625H118.934L118.68 47.5438L117.086 46.9315L115.873 45.9944L115.081 44.2883L114.689 42.9107L114.697 41.4061L115.096 39.9837L115.806 38.6434L117.247 37.3479L118.923 36.7916L120.2 36.7842L121.742 37.3479L123 38.2962L123.847 39.5992L124.258 40.8386L124.43 41.996L123.627 42.1528L123.683 42.892L117.247 43.2653L117.321 43.6499L117.814 44.4712L118.352 44.8558L119.181 45.1731L119.875 45.1806L120.723 45.0163L121.413 44.5534ZM118.535 39.4424L117.769 40.0696L117.303 40.9618L117.213 42.2909L117.997 41.4061L121.652 41.1709L121.615 40.8872L121.197 39.9016L120.521 39.4461L119.774 39.1735H119.345L118.535 39.4424Z'
            fill='black'></path><path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M51.2406 14.4629L43.6245 22.079C43.6245 22.079 47.272 25.7265 51.0801 21.9185C54.8881 18.1104 51.2406 14.4629 51.2406 14.4629Z'
            fill='white'
            stroke='black'
            stroke-width='1.64562'
            stroke-miterlimit='10'
            stroke-linecap='round'></path><path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M36.251 14.5414L43.8671 22.1575C43.8671 22.1575 47.5146 18.51 43.7066 14.7019C39.8985 10.8939 36.251 14.5414 36.251 14.5414Z'
            fill='#5C82FF'
            stroke='black'
            stroke-width='1.64562'
            stroke-miterlimit='10'
            stroke-linecap='round'></path><path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M51.2405 29.6952L43.6244 22.0791C43.6244 22.0791 39.9769 25.7266 43.7849 29.5347C47.593 33.3427 51.2405 29.6952 51.2405 29.6952Z'
            fill='#FFD700'
            stroke='black'
            stroke-width='1.64562'
            stroke-miterlimit='10'
            stroke-linecap='round'></path><path
            fill-rule='evenodd'
            clip-rule='evenodd'
            d='M36.2025 29.7883L43.8186 22.1722C43.8186 22.1722 40.1711 18.5247 36.363 22.3328C32.555 26.1408 36.2025 29.7883 36.2025 29.7883Z'
            fill='white'
            stroke='black'
            stroke-width='1.64562'
            stroke-miterlimit='10'
            stroke-linecap='round'></path></svg
        >
      </a>
    </h2>
    <div class='internal-links'>
      <HeaderLink href={`/${lang}/`}>{t('nav.about')}</HeaderLink>
      <HeaderLink href={`/${lang}/#qna`}>{t('nav.q&a')}</HeaderLink>
      <HeaderLink href={`/${lang}/#guides`}>{t('nav.guides')}</HeaderLink>
    </div>
    <div class='social-links'>
      <div class='language-picker'>
        <button class='picker-trigger' id='language-selector' aria-haspopup='true' aria-expanded='false'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='mr-2 -ml-1 h-5 w-5'
            width='24'
            height='24'
            viewBox='0 0 24 24'
            fill='none'
						style="min-width: 24px;"
            >
						<path
              d='M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z'
              stroke='#121212'
              stroke-width='1.5'
              stroke-linecap='round'
              stroke-linejoin='round'></path><path
              d='M2 12H22'
              stroke='#121212'
              stroke-width='1.5'
              stroke-linecap='round'
              stroke-linejoin='round'></path><path
              d='M12 2C14.5013 4.73835 15.9228 8.29203 16 12C15.9228 15.708 14.5013 19.2616 12 22C9.49872 19.2616 8.07725 15.708 8 12C8.07725 8.29203 9.49872 4.73835 12 2Z'
              stroke='#121212'
              stroke-width='1.5'
              stroke-linecap='round'
              stroke-linejoin='round'></path></svg
          >
          {languages[lang]}
          <svg
            class='-mr-1 ml-2 h-5 w-5'
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 20 20'
            fill='currentColor'
            aria-hidden='true'
            ><path
              fill-rule='evenodd'
              d='M10.293 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L10 12.586l3.293-3.293a1 1 0 011.414 1.414l-4 4z'
              clip-rule='evenodd'></path></svg
          >
        </button>
        <div class='dropdown' role='menu' aria-orientation='vertical' aria-labelledby='language-selector'>
          <div class='py-1 grid grid-cols-1 gap-2' role='none'>
            <a role='menuitem' href='/ua'><span class='truncate'>{languages.ua}</span></a>
            <a role='menuitem' href='/pt'><span class='truncate'>{languages.pt}</span></a>
            <a role='menuitem' href='/en'><span class='truncate'>{languages.en}</span></a>
          </div>
        </div>
      </div>

      <!-- <a href="https://m.webtoo.ls/@astro" target="_blank">
				<span class="sr-only">Follow Astro on Mastodon</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"
					></path></svg
				>
			</a> -->
      <!-- <a href="https://twitter.com/astrodotbuild" target="_blank">
				<span class="sr-only">Follow Us on Twitter</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
					></path></svg
				>
			</a> -->
      <a href='https://www.instagram.com/droneaid.collective/' target='_blank'>
        <span class='sr-only'>Follow Us on Instagran</span>
        <svg width='32' height='32' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'
          ><path
            fill='currentColor'
            d='M13.0281 2C14.1531 2.003 14.7241 2.009 15.2171 2.023L15.4111 2.03C15.6351 2.038 15.8561 2.048 16.1231 2.06C17.1871 2.11 17.9131 2.278 18.5501 2.525C19.2101 2.779 19.7661 3.123 20.3221 3.678C20.8308 4.17773 21.2243 4.78247 21.4751 5.45C21.7221 6.087 21.8901 6.813 21.9401 7.878C21.9521 8.144 21.9621 8.365 21.9701 8.59L21.9761 8.784C21.9911 9.276 21.9971 9.847 21.9991 10.972L22.0001 11.718V13.028C22.0025 13.7574 21.9948 14.4868 21.9771 15.216L21.9711 15.41C21.9631 15.635 21.9531 15.856 21.9411 16.122C21.8911 17.187 21.7211 17.912 21.4751 18.55C21.2243 19.2175 20.8308 19.8223 20.3221 20.322C19.8223 20.8307 19.2176 21.2242 18.5501 21.475C17.9131 21.722 17.1871 21.89 16.1231 21.94L15.4111 21.97L15.2171 21.976C14.7241 21.99 14.1531 21.997 13.0281 21.999L12.2821 22H10.9731C10.2433 22.0026 9.5136 21.9949 8.78408 21.977L8.59008 21.971C8.35269 21.962 8.11535 21.9517 7.87808 21.94C6.81408 21.89 6.08808 21.722 5.45008 21.475C4.78291 21.2241 4.17852 20.8306 3.67908 20.322C3.17003 19.8224 2.77619 19.2176 2.52508 18.55C2.27808 17.913 2.11008 17.187 2.06008 16.122L2.03008 15.41L2.02508 15.216C2.00665 14.4868 1.99831 13.7574 2.00008 13.028V10.972C1.99731 10.2426 2.00465 9.5132 2.02208 8.784L2.02908 8.59C2.03708 8.365 2.04708 8.144 2.05908 7.878C2.10908 6.813 2.27708 6.088 2.52408 5.45C2.77577 4.7822 3.1703 4.17744 3.68008 3.678C4.17923 3.16955 4.78327 2.77607 5.45008 2.525C6.08808 2.278 6.81308 2.11 7.87808 2.06C8.14408 2.048 8.36608 2.038 8.59008 2.03L8.78408 2.024C9.51327 2.00623 10.2427 1.99857 10.9721 2.001L13.0281 2ZM12.0001 7C10.674 7 9.40223 7.52678 8.46455 8.46447C7.52687 9.40215 7.00008 10.6739 7.00008 12C7.00008 13.3261 7.52687 14.5979 8.46455 15.5355C9.40223 16.4732 10.674 17 12.0001 17C13.3262 17 14.5979 16.4732 15.5356 15.5355C16.4733 14.5979 17.0001 13.3261 17.0001 12C17.0001 10.6739 16.4733 9.40215 15.5356 8.46447C14.5979 7.52678 13.3262 7 12.0001 7ZM12.0001 9C12.394 8.99993 12.7842 9.07747 13.1482 9.22817C13.5122 9.37887 13.8429 9.5998 14.1215 9.87833C14.4002 10.1569 14.6212 10.4875 14.772 10.8515C14.9229 11.2154 15.0005 11.6055 15.0006 11.9995C15.0006 12.3935 14.9231 12.7836 14.7724 13.1476C14.6217 13.5116 14.4008 13.8423 14.1223 14.121C13.8437 14.3996 13.513 14.6206 13.1491 14.7714C12.7851 14.9223 12.395 14.9999 12.0011 15C11.2054 15 10.4424 14.6839 9.87976 14.1213C9.31715 13.5587 9.00108 12.7956 9.00108 12C9.00108 11.2044 9.31715 10.4413 9.87976 9.87868C10.4424 9.31607 11.2054 9 12.0011 9M17.2511 5.5C16.9196 5.5 16.6016 5.6317 16.3672 5.86612C16.1328 6.10054 16.0011 6.41848 16.0011 6.75C16.0011 7.08152 16.1328 7.39946 16.3672 7.63388C16.6016 7.8683 16.9196 8 17.2511 8C17.5826 8 17.9005 7.8683 18.135 7.63388C18.3694 7.39946 18.5011 7.08152 18.5011 6.75C18.5011 6.41848 18.3694 6.10054 18.135 5.86612C17.9005 5.6317 17.5826 5.5 17.2511 5.5Z'
          ></path></svg
        >
      </a>
      <!-- <a href="https://github.com/withastro/astro" target="_blank">
				<span class="sr-only">Go to Astro's GitHub repo</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a> -->
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
		align-items: center;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>

<style>
  .language-picker {
    position: relative;
    display: inline-block;
  }

  .picker-trigger {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background: transparent;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: all 0.2s;
  }

  .picker-trigger:hover {
    background: #f8fafc;
  }

  .chevron {
    transition: transform 0.2s;
  }

  .language-picker:hover .chevron {
    transform: rotate(180deg);
  }
	.truncate {
		font-size: 0.875rem;
	}

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0.25rem;
    background: white;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    padding: 0.5rem;
    display: none;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }

  .language-picker:hover .dropdown {
    display: block;
  }

  .lang-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: inherit;
    border-radius: 0.25rem;
    transition: background 0.2s;
  }

  .lang-option:hover {
    background: #f8fafc;
  }

  .lang-option.active {
    background: #e2e8f0;
  }
</style>
